In [1]:
# Importing all the module
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install unidecode
import re
!pip install geonamescache
import geonamescache 
from nltk.tokenize import RegexpTokenizer
from unidecode import unidecode
from geonamescache import GeonamesCache

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 3.3MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.1.1
Collecting geonamescache
  Downloading https://files.pythonhosted.org/packages/32/c1/efb823270c8526b2f4f3eb8c804c5a0a55277267ad2312f5eb47bd9cc370/geonamescache-1.1.0-py3-none-any.whl (830kB)
     |████████████████████████████████| 839kB 3.5MB/s
Installing collected packages: geonamescache
Successfully installed geonamescache-1.1.0

In [0]:
#Reading the Text File 
data = pd.read_csv("headlines.txt",delimiter="\t", header=None)

In [4]:
data.columns

Int64Index([0], dtype='int64')

In [0]:
# Naming the column to
data.columns = ['headlines']

In [6]:
data.headlines = data.headlines.astype('str')
data.columns

Index(['headlines'], dtype='object')

In [7]:
# Before Removal of the foreign characters
data['headlines'].iloc[13 : 16]
#data['headlines'][12]

13      Flu outbreak in Galveston, Texas
14    Zika alert – Manila now threatened
15        Zika afflicts 7 in Iloilo City
Name: headlines, dtype: object

In [0]:
# Removing all the foreign Characters 
data['headlines'] = data['headlines'].apply(lambda x: re.sub(r'[^\w\s]',' ', x))

In [9]:
# After Removing any Foreign Characters
data['headlines'].iloc[13:16]

13      Flu outbreak in Galveston  Texas
14    Zika alert   Manila now threatened
15        Zika afflicts 7 in Iloilo City
Name: headlines, dtype: object

In [10]:
data.head()

                                 headlines
0                 Zika Outbreak Hits Miami
1          Could Zika Reach New York City
2        First Case of Zika in Miami Beach
3  Mystery Virus Spreads in Recife  Brazil
4  Dallas man comes down with case of Zika

In [11]:
data.columns
#data["countries"]= data["headlines"].g(get_countries_by_names())

Index(['headlines'], dtype='object')

In [0]:
# Using GeonameCaches To fetch all the country names available 
gc = GeonamesCache()
countries = gc.get_countries()
country_val = (countries.values())

#nma = laa['name']
#print(f"GeonamesCache holds data for {num_countries} countries.")

In [0]:
# Saving all the country names in the list
country_names = []
country_val = list(country_val)
for complete_dict in country_val:
  country_names.append(complete_dict['name'])

In [14]:
print(country_names)

['Andorra', 'United Arab Emirates', 'Afghanistan', 'Antigua and Barbuda', 'Anguilla', 'Albania', 'Armenia', 'Angola', 'Antarctica', 'Argentina', 'American Samoa', 'Austria', 'Australia', 'Aruba', 'Aland Islands', 'Azerbaijan', 'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium', 'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin', 'Saint Barthelemy', 'Bermuda', 'Brunei', 'Bolivia', 'Bonaire, Saint Eustatius and Saba ', 'Brazil', 'Bahamas', 'Bhutan', 'Bouvet Island', 'Botswana', 'Belarus', 'Belize', 'Canada', 'Cocos Islands', 'Democratic Republic of the Congo', 'Central African Republic', 'Republic of the Congo', 'Switzerland', 'Ivory Coast', 'Cook Islands', 'Chile', 'Cameroon', 'China', 'Colombia', 'Costa Rica', 'Cuba', 'Cabo Verde', 'Curacao', 'Christmas Island', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Denmark', 'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia', 'Egypt', 'Western Sahara', 'Eritrea', 'Spain', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands', 'Micronesia', 'Faroe Islands', 'France', 'Gabon', 'United Kingdom', 'Grenada', 'Georgia', 'French Guiana', 'Guernsey', 'Ghana', 'Gibraltar', 'Greenland', 'Gambia', 'Guinea', 'Guadeloupe', 'Equatorial Guinea', 'Greece', 'South Georgia and the South Sandwich Islands', 'Guatemala', 'Guam', 'Guinea-Bissau', 'Guyana', 'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel', 'Isle of Man', 'India', 'British Indian Ocean Territory', 'Iraq', 'Iran', 'Iceland', 'Italy', 'Jersey', 'Jamaica', 'Jordan', 'Japan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros', 'Saint Kitts and Nevis', 'North Korea', 'South Korea', 'Kosovo', 'Kuwait', 'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova', 'Montenegro', 'Saint Martin', 'Madagascar', 'Marshall Islands', 'North Macedonia', 'Mali', 'Myanmar', 'Mongolia', 'Macao', 'Northern Mariana Islands', 'Martinique', 'Mauritania', 'Montserrat', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico', 'Malaysia', 'Mozambique', 'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'Niue', 'New Zealand', 'Oman', 'Panama', 'Peru', 'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan', 'Poland', 'Saint Pierre and Miquelon', 'Pitcairn', 'Puerto Rico', 'Palestinian Territory', 'Portugal', 'Palau', 'Paraguay', 'Qatar', 'Reunion', 'Romania', 'Serbia', 'Russia', 'Rwanda', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan', 'South Sudan', 'Sweden', 'Singapore', 'Saint Helena', 'Slovenia', 'Svalbard and Jan Mayen', 'Slovakia', 'Sierra Leone', 'San Marino', 'Senegal', 'Somalia', 'Suriname', 'Sao Tome and Principe', 'El Salvador', 'Sint Maarten', 'Syria', 'Eswatini', 'Turks and Caicos Islands', 'Chad', 'French Southern Territories', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Timor Leste', 'Turkmenistan', 'Tunisia', 'Tonga', 'Turkey', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan', 'Tanzania', 'Ukraine', 'Uganda', 'United States Minor Outlying Islands', 'United States', 'Uruguay', 'Uzbekistan', 'Vatican', 'Saint Vincent and the Grenadines', 'Venezuela', 'British Virgin Islands', 'U.S. Virgin Islands', 'Vietnam', 'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe', 'Serbia and Montenegro', 'Netherlands Antilles']

In [0]:
#Fetching all the city names available 
cities_full = gc.get_cities()
cities = (cities_full.values())

In [0]:
cities_names = []
cities_val = list(cities)
for complete_dict in cities_val:
  cities_names.append(complete_dict['name'])

In [17]:
len(cities_names)

24336

In [0]:
# Tokenizing The text in the headlines
tokenizer = RegexpTokenizer('\w+|\$[\d\.]+|\S+')
#tokenizer.tokenize(s)

In [0]:
data['tokenized'] = data['headlines'].apply(lambda x: tokenizer.tokenize(x))

In [20]:
data['tokenized'][0]

['Zika', 'Outbreak', 'Hits', 'Miami']

In [0]:
#test=  ['Zika', 'Outbreak', 'Hits', 'Afghanistan']
#test2 = ['Zikaaa', 'Outbreakaa', 'Hiats', 'Afghanistan']
#data['country_names']= ''
#fetched_countries = []

In [0]:
# Making Comparision of all the cities in the headlines and saving in the country names coulmn
data['country_names']= ''
for i, j in data.iterrows():
  count_ = 0
  #print(i, j['tokenized'])
  for each_word in j['tokenized']:
    #print(each_word)
    #print(i,j['headlines'])
    for countr in country_names:

      if each_word == countr:
        if count_ == 0:
          data.at[i, 'country_names']= countr
          count_+=1
        elif count_ > 0:
          data.at[i, 'country_name'+ each_word]

      #fetched_countries.append(countr)

In [23]:
data['country_names']

0
1
2
3      Brazil
4
        ...
645
646
647
648
649
Name: country_names, Length: 650, dtype: object

In [24]:
data.head(50)
#print(fetched_countries)
      
#print(i,ro)
    #print(j['headlines']) 
    #print() 
    #for value in country_names:
      #if j['headlines'] == value:
        #data.at[i, j['country_names']]=value
        #print(value)

                                            headlines  ... country_names
0                            Zika Outbreak Hits Miami  ...
1                     Could Zika Reach New York City   ...
2                   First Case of Zika in Miami Beach  ...
3             Mystery Virus Spreads in Recife  Brazil  ...        Brazil
4             Dallas man comes down with case of Zika  ...
5                   Trinidad confirms first Zika case  ...
6              Zika Concerns are Spreading in Houston  ...
7               Geneve Scientists Battle to Find Cure  ...
8               The CDC in Atlanta is Growing Worried  ...
9                  Zika Infested Monkeys in Sao Paulo  ...
10              Brownsville teen contracts Zika virus  ...
11  Mosquito control efforts in St  Louis take new...  ...
12  San Juan reports 1st U S  Zika related death a...  ...
13                   Flu outbreak in Galveston  Texas  ...
14                 Zika alert   Manila now threatened  ...
15                     Zika afflicts 7 in Iloilo City  ...
16               New Los Angeles Hairstyle goes Viral  ...
17                      Louisiana Zika cases up to 26  ...
18               Orlando volunteers aid Zika research  ...
19                Zika infects pregnant woman in Cebu  ...
20                Chicago s First Zika Case Confirmed  ...
21              Tampa Bay Area Zika Case Count Climbs  ...
22     Bad Water Leads to Sickness in Flint  Michigan  ...
23                     Baltimore plans for Zika virus  ...
24          London Health Unit Tracks Mad Cow Disease  ...
25     Zika cases in Vietnam s Ho Chi Minh City surge  ...       Vietnam
26                Philadelphia experts track pandemic  ...
27                             Flu season hits Boston  ...
28            Scientists in Paris to look for answers  ...
29           Key Zika Findings in San Diego Institute  ...
30                     Thailand Zika Virus in Bangkok  ...      Thailand
31                    Beijing team cracks Zika secret  ...
32                         Zika spreading to Salvador  ...
33                 Kuala Lumpur is Hit By Zika Threat  ...
34                First Zika case confirmed in Yangon  ...
35             Tallahassee Doctors Discuss Zika Virus  ...
36                   Zika Virus Reaches San Francisco  ...
37          New Vaccine on Trial in Bethesda District  ...
38                 Townsville Zika tests inconclusive  ...
39              Mandaluyong City under Siege by Virus  ...
40               Hepatitis E re emerges in Santa Rosa  ...
41                       Zika worries in San Salvador  ...
42                   Zika virus reported in Cleveland  ...
43              More Zika patients reported in Austin  ...
44                Zika outbreak in Piracicaba  Brazil  ...        Brazil
45                Lima tries to address Zika Concerns  ...
46  More people in Toronto are infected with Hepat...  ...
47                        18 new Zika Cases in Bogota  ...
48                     Spanish Flu Sighted in Antigua  ...
49               Brisbane is infested with Meningitis  ...

[50 rows x 3 columns]

In [0]:
# Making a list of the values found 
#country_nam = []
#for a in data['tokenized']:
#  for value in a:
#    for county in country_names:
#      if county == value:
#        country_nam.append(county)

In [27]:
#print(country_nam)

['Brazil', 'Vietnam', 'Thailand', 'Brazil', 'Malaysia', 'Guatemala', 'Belize', 'Brazil', 'Mexico', 'Malaysia', 'Malaysia', 'Panama', 'Singapore', 'Panama']

In [25]:
# Checking value count in the country name column
data['country_names'].value_counts()

             636
Brazil         3
Malaysia       3
Panama         2
Singapore      1
Thailand       1
Belize         1
Vietnam        1
Mexico         1
Guatemala      1
Name: country_names, dtype: int64

In [0]:
# Getting all the city names and saving it in the city_names columns
data['city_names']= ''
#i = 0
for keys, values in data.iterrows():
  count_ = 0
  #i+=1
  #print(i, j['tokenized'])
  #print(values['tokenized'])
  for each_word in values['tokenized']:
    
    
    for countr in set(cities_names):
      if each_word == countr:
        if count_ == 0:
          #print(each_word)
          data.at[keys, 'city_names']= each_word
          count_ += 1
          
        elif count_ > 0:
          #print('Elif' ,each_word)
          #print('ElifC' , values['city_names'] )
          
          data.at[keys, 'city_names']  =values['city_names'] + ' ' +  each_word 
            #count_ -=1 
          
        
      #if i > 10: break
  
          #print(str(count_) + 'after elif cndition')

In [40]:
 values['tokenized']

['Zika', 'Outbreak', 'in', 'Wichita', 'Falls']

In [41]:
data['city_names'].value_counts()

                 129
San               12
Miami              7
Monroe             4
Madrid             4
                ...
Lima               1
Villavicencio      1
Nassau             1
Framingham         1
Libreville         1
Name: city_names, Length: 462, dtype: int64

In [42]:
data['city_names'][21]

'Tampa Bay'

In [43]:
data.head(50)

                                            headlines  ...    city_names
0                            Zika Outbreak Hits Miami  ...         Miami
1                     Could Zika Reach New York City   ...          York
2                   First Case of Zika in Miami Beach  ...         Miami
3             Mystery Virus Spreads in Recife  Brazil  ...        Recife
4             Dallas man comes down with case of Zika  ...        Dallas
5                   Trinidad confirms first Zika case  ...      Trinidad
6              Zika Concerns are Spreading in Houston  ...       Houston
7               Geneve Scientists Battle to Find Cure  ...
8               The CDC in Atlanta is Growing Worried  ...       Atlanta
9                  Zika Infested Monkeys in Sao Paulo  ...
10              Brownsville teen contracts Zika virus  ...   Brownsville
11  Mosquito control efforts in St  Louis take new...  ...
12  San Juan reports 1st U S  Zika related death a...  ...           San
13                   Flu outbreak in Galveston  Texas  ...     Galveston
14                 Zika alert   Manila now threatened  ...        Manila
15                     Zika afflicts 7 in Iloilo City  ...        Iloilo
16               New Los Angeles Hairstyle goes Viral  ...
17                      Louisiana Zika cases up to 26  ...
18               Orlando volunteers aid Zika research  ...       Orlando
19                Zika infects pregnant woman in Cebu  ...
20                Chicago s First Zika Case Confirmed  ...       Chicago
21              Tampa Bay Area Zika Case Count Climbs  ...     Tampa Bay
22     Bad Water Leads to Sickness in Flint  Michigan  ...         Flint
23                     Baltimore plans for Zika virus  ...     Baltimore
24          London Health Unit Tracks Mad Cow Disease  ...        London
25     Zika cases in Vietnam s Ho Chi Minh City surge  ...            Ho
26                Philadelphia experts track pandemic  ...  Philadelphia
27                             Flu season hits Boston  ...        Boston
28            Scientists in Paris to look for answers  ...         Paris
29           Key Zika Findings in San Diego Institute  ...           San
30                     Thailand Zika Virus in Bangkok  ...       Bangkok
31                    Beijing team cracks Zika secret  ...       Beijing
32                         Zika spreading to Salvador  ...      Salvador
33                 Kuala Lumpur is Hit By Zika Threat  ...
34                First Zika case confirmed in Yangon  ...        Yangon
35             Tallahassee Doctors Discuss Zika Virus  ...   Tallahassee
36                   Zika Virus Reaches San Francisco  ...           San
37          New Vaccine on Trial in Bethesda District  ...      Bethesda
38                 Townsville Zika tests inconclusive  ...    Townsville
39              Mandaluyong City under Siege by Virus  ...
40               Hepatitis E re emerges in Santa Rosa  ...
41                       Zika worries in San Salvador  ...  San Salvador
42                   Zika virus reported in Cleveland  ...     Cleveland
43              More Zika patients reported in Austin  ...        Austin
44                Zika outbreak in Piracicaba  Brazil  ...    Piracicaba
45                Lima tries to address Zika Concerns  ...          Lima
46  More people in Toronto are infected with Hepat...  ...       Toronto
47                        18 new Zika Cases in Bogota  ...
48                     Spanish Flu Sighted in Antigua  ...
49               Brisbane is infested with Meningitis  ...      Brisbane

[50 rows x 4 columns]

In [35]:
data['headlines'][5]

'Trinidad confirms first Zika case'

In [36]:
data['city_names'][159]

'Belmont,Belmont'

In [37]:
data.iloc[153:158]

                                             headlines  ...  city_names
153  Rumors about Rotavirus spreading in Huntsville...  ...  Huntsville
154                   Rhinovirus has Arrived in Athens  ...      Athens
155                    Outbreak of Zika in Panama City  ...
156            West Nile Virus Outbreak in Saint Johns  ...
157                      Measles has not Left Brooklyn  ...    Brooklyn

[5 rows x 4 columns]

In [44]:
gc.get_cities_by_name('Bogota')

[]